{% extends "explorer/base.html" %}

{% block content %}
  <h2>Collections</h2>
  <a class="pure-button pure-button-primary" href="{% url 'collection-fetch' %}">Fetch</a>
  <table class="pure-table">
    <thead>
      <tr>
        <th>Fetched Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for collection in object_list %}
        <tr>
          <!-- Format similar to the one from requirements screen -->
          <td><a href="{{ collection.id }}">{{ collection.created_at|date:"DATETIME_FORMAT" }}</a></td>
          <td><a href="{{ collection.file.url }}">Download</a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="2">No data yet.</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}
